.cache/
.cache/*
!.cache/triposr_hf/
!.cache/triposr_hf/stabilityai__TripoSR/
!.cache/triposr_hf/stabilityai__TripoSR/model.ckpt

generated/
**/__pycache__/
*.py[cod]
*.pyd
.Python
*.so

.venv/
venv/
ENV/
env/

.idea/
.vscode/

*.log
